.container {
    /* width: 100vw; */
    padding: 1.5rem 1.2rem 1.5rem 1.2rem;
    height: 50vw;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-item);
}

.innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    backdrop-filter: grayscale(100) opacity(70%);
}

.aboutText {
    padding: 1rem 1rem 0.4rem 0.8rem;
    width: clamp(15rem, 35vw, 60rem);
    font-weight: 700;
    font-style: italic;
    font-family: 'Cabin', sans-serif;
    border-radius: 0 1.6rem 0 0;
    color: var(--base-font);
    background-color: var(--dark-item);
}
