.outerContainer {
	display: flex;
	flex-direction: column;
	place-content: flex-start;
	gap: 1.5rem;
	padding: 2rem 0;
	height: 100vh;
	width: 100vw;
	color: var(--base-font);
	font-weight: 700;
	overflow-x: hidden;
}

.formsContainer {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	margin: auto;
	border-radius: 20px;
	border: 5px solid var(--base-font);
	width: clamp(20rem, 62vw, 40rem);
	background-color: var(--dark-item);
}

.formsContainer > form {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.formsContainer h1 {
	margin: 0 0 0.5rem;
}

.formsContainer label {
	display: flex;
	flex-direction: column;
	width: 16rem;
}

.formsContainer input {
	font-size: 0.8rem;
	color: var(--base-font);
	border-radius: 8px;
	padding: 0.3rem 0.6rem 0.3rem 0.6rem;
	border: 4px solid var(--base-font);
	background-color: var(--dark-item);
	transition: border 200ms;
}

.formsContainer textarea {
	border-radius: 8px;
	height: 8rem;
	max-width: 100%;
	font-size: 0.8rem;
	color: var(--base-font);
	padding: 0.3rem 0.6rem 0.3rem 0.6rem;
	border: 4px solid var(--base-font);
	background-color: var(--dark-item);
	transition: border 200ms;
}

.formsContainer button {
	width: 5rem;
	font-size: 1.2rem;
	margin-top: 1rem;
}

.formsContainer [type='file'] {
	display: none;
	visibility: hidden;
}

.imageInputs label {
	width: 10rem;
	padding: 0.3rem 0.6rem 0.3rem 0.6rem;
	color: var(--base-font);
	border: 4px solid var(--base-font);
	background-color: var(--dark-item);
}

.imageInputs label:hover {
	width: 10rem;
	cursor: pointer;
	color: var(--base-font);
	padding: 0.3rem 0.6rem 0.3rem 0.6rem;
	border: 4px solid var(--cream);
	background-color: var(--light-green);
}

.imageInputs span {
	margin: auto;
	padding-right: 0.15rem;
}

.imageContainer {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 0.4rem;
}

.imageContainer span {
	position: relative !important;
	width: 5rem !important;
	height: 5rem !important;
}

.concertsTitle {
	display: flex;
	place-content: center;
	color: var(--base-font);
	font-weight: 600;
	font-size: 2rem;
}

.concertListContainer {
	margin: 0;
	padding: 0;
}

.concertContainer {
	display: flex;
	gap: clamp(1rem, 2vw, 2rem);
	margin: auto;
	place-content: space-between;
	place-items: center;
	padding: 1.4rem;
	font-size: clamp(0.6rem, 2vw, 1rem);
	width: clamp(20rem, 85vw, 45rem);
	color: var(--base-font);
	font-family: 'Cabin', sans-serif;
	background-color: var(--dark-item);
}

.concertContainer button:nth-child(3) {
	margin-left: auto;
}

@media (max-width: 800px) {
	.formsContainer {
		padding: 1.6rem;
		border-radius: 15px;
		border: 4px solid var(--base-font);
		width: 90vw;
	}

	.formsContainer h1 {
		font-size: 1.4rem;
	}

	.formsContainer span {
		font-size: 0.8rem;
	}

	.formsContainer label {
		gap: 0.2rem;
	}

	.formsContainer input {
		width: 60vw;
		border: 3px solid var(--base-font);
	}

	.formsContainer textarea {
		height: 6rem;
		width: 12rem;
		border: 3px solid var(--base-font);
	}
}
