.fade-in {
    animation: fadeIn 350ms;
    -webkit-animation: fadeIn 350ms;
    -moz-animation: fadeIn 350ms;
    -o-animation: fadeIn 350ms;
    -ms-animation: fadeIn 350ms;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-10%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    animation: fadeInLeft 550ms;
    -webkit-animation: fadeInLeft 550ms;
    -moz-animation: fadeInLeft 550ms;
    -o-animation: fadeInLeft 550ms;
    -ms-animation: fadeInLeft 550ms;
}
