.container {
    height: auto;
    background-size: clamp(40rem, 140vw, 120%);
    background-position: center center;
    background-color: var(--wallpaper);
}

.gigList {
    margin: 0;
    padding: 2.5rem 0 2.5rem 0;
    display: grid;
    place-content: center;
    list-style: none;
}

.gigItem {
    display: grid;
    grid: 1fr / 9.5rem 13.5rem auto auto auto;
    width: auto;
    align-items: center;
    margin: 0.6rem;
    padding: 1.5rem;
    gap: 30px;
    border-radius: 22px;
    color: var(--base-font);
    font-family: 'Cabin', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    background-color: var(--dark-item);
}

.gigItem a {
    color: var(--base-font);
    text-decoration: none;
}

.gigArtist {
    color: #e6c9b5;
    font-weight: 800;
    justify-self: start;
}

.gigPrice {
    justify-self: end;
}

.button.gigSoldOut {
    cursor: auto;
    border: 5px solid var(--bg-color);
}

.button.gigSoldOut:hover {
    transform: translateY(0px);
}

@media (max-width: 1200px) {
    .gigList {
        padding: 1.6rem 0 1.6rem 0;
    }

    .gigItem {
        display: grid;
        grid: 1fr / 7rem 10rem 5rem auto 6.4rem;
        gap: 1.6rem;
        width: auto;
        align-items: center;
        margin: 0.6rem;
        padding: 1.2rem 1.5rem 1.2rem 1.5rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 900px) {
    .gigList {
        padding: 1.6rem 0 1.6rem 0;
    }

    .gigItem {
        grid: 1fr / 4rem auto 3.2rem 1.8rem 4.8rem;
        gap: 1.5rem;
        width: auto;
        margin: 0.6rem;
        padding: 1rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 650px) {
    .gigList {
        padding: 0.6rem 0 0.6rem 0;
    }

    .gigItem {
        grid: 1fr / 2.7rem 4rem auto 1rem 3.2rem;
        width: auto;
        gap: 12px;
        margin: 0.25rem;
        padding: 0.5rem 0.6rem 0.5rem 0.6rem;
        font-size: 0.5rem;
        border-radius: 10px;
    }

    .gigArtist {
        font-size: 0.6rem;
    }

    .button.gigSoldOut {
        border: 3px solid var(--bg-color);
    }

    .button.gigSoldOut:hover {
        border: 3px solid var(--bg-color);
    }
}
