.galleryContainer {
    margin: auto;
    padding: 1.2rem 1.8rem 1.2rem 1.8rem;
    /* width: 95%; */
    background-color: #d5a18e;
    background: url('../public/images/patternpad.svg');
    background-size: 130%;
    background-position: center center;
}

.imageContainer {
    width: 20rem;
    /* height: 10rem; */
    background-size: cover;
    background-position: center center;
    /* border: 6px solid var(--base-font); */
    /* filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15)); */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.555));
    /* border-radius: 5px; */
}

@media (max-width: 800px) {
    .galleryContainer {
        padding: 0.5rem 1.8rem 0.5rem 1.8rem;
    }

    .imageContainer {
        width: 20rem;
        /* height: 10rem; */
        background-size: cover;
        background-position: center center;
    }
}
