.galleryContainer {
    margin: auto;
    padding: 1.6rem;
    width: 95%;
}

.imageContainer {
    width: 20rem;
    height: 10rem;
    background-size: cover;
    background-position: center center;
}
