.header {
    position: fixed;
    display: grid;
    align-content: end;
    top: -2.2vw;
    left: 0;
    width: 101vw;
    margin-top: -5.4rem;
    height: clamp(11.8rem, 12.2vw, 14.6rem);
    transform: rotate(1.8deg);
    transform-origin: 50% 52%;
    -webkit-transform-origin: 50% 52%;
    filter: drop-shadow(0 2px 3px #00000036);
    background-color: var(--wallpaper);
    z-index: 100;
}

.header nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.8rem;
}

.navLinks {
    margin: 0;
    margin-right: 2.2rem;
    list-style: none;
    font-size: clamp(1.4rem, 2.2vw, 2rem);
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-feature-settings: 'kern' off;
    letter-spacing: 0.025em;
}

.navLinks li {
    padding: 1.2rem 0.8rem 0.4rem 1.2rem;
    padding-left: 0.6rem;
    display: inline-block;
}

.navLinks a {
    cursor: pointer;
    text-decoration: none;
    color: var(--base-font);
    will-change: auto;
}

.navLinks a:hover {
    display: block;
    color: var(--pink);
    transform: translateY(-1px);
    transition: all 200ms ease-in-out;
}

@media (max-width: 1200px) {
    .header {
        top: -70px;
        margin-top: -4.8rem;
        height: clamp(12.6rem, 14vw, 16rem);
        transform: rotate(3deg);
    }

    .navLinks {
        margin: 0;
        margin-right: 2.2vw;
        font-size: clamp(1rem, 2.6vw, 2rem);
    }

    .navLinks li {
        padding: 1rem 0.7rem 0.4rem 0.4rem;
    }
}

@media (max-width: 500px) {
    .header {
        width: 110vw;
        top: -110px;
        filter: unset;
    }

    .navLinks {
        margin: 0;
        margin-right: 5.5vw;
        list-style: none;
        font-size: clamp(0.6rem, 2vw, 2rem);
    }

    .navLinks li {
        padding: 1rem 0.4rem 0.2rem 0;
    }
}
