.container {
    height: clamp(28rem, 38vw, 46rem);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center top;
    background-position-y: 1.8vw;
    filter: contrast(95%);
}

.titleContainer {
    padding-top: 4.8vw;
    padding-left: 3.2vw;
    width: clamp(26rem, 29.5vw, 38rem);
    align-self: start;
}

@media (max-width: 1200px) {
    .container {
        height: 52vw;
        background-position-y: -10%;
    }

    .titleContainer {
        padding-top: 3.8vw;
        padding-left: 4.5vw;
        width: clamp(5rem, 45.5vw, 30rem);
        align-self: start;
    }
}

@media (max-width: 500px) {
    .container {
        height: 58vw;
        background-position-y: -2%;
    }

    .titleContainer {
        padding-top: 4vw;
        padding-left: 5vw;
        width: clamp(6rem, 50.5vw, 30rem);
    }
}
