.container {
    /* height: 32vw; */
    height: clamp(28rem, 32vw, 42rem);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center top;
    background-position-y: -25%;
}

.titleContainer {
    padding-top: 3vw;
    padding-left: 4vw;
    width: clamp(26rem, 30.5vw, 40rem);
    align-self: start;
}

@media (max-width: 1200px) {
    .container {
        height: 50vw;
        background-position-y: -10%;
    }

    .titleContainer {
        padding-top: 2vw;
        padding-left: 5vw;
        width: clamp(5rem, 45.5vw, 30rem);
        align-self: start;
    }
}
