.container {
    width: 60vw;
    padding: 0 1rem;
    margin: 2.2rem auto 6rem;
    z-index: 100;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToHome {
    margin: 3rem 0 0;
}

@media (max-width: 1500px) {
    .container {
        width: 90vw;
    }
}
