.marquee_container {
	height: clamp(22rem, 24vw, 32rem);
	width: fit-content;

	@media screen and (max-width: 1200px) {
		height: clamp(15rem, 35vw, 32rem);
	}

	@media screen and (max-width: 650px) {
		height: 45vw;
	}
}

.marquee {
	height: 100%;
	overflow-y: hidden;

	&__drinks {
		height: 100%;
	}
}

.imageContainer {
	will-change: transform;
	position: relative;
	height: 100%;
}

.imageContainer span {
	position: relative !important;
	width: fit-content !important;
	height: 100% !important;
}

.imageContainer img {
	height: 100% !important;
}

.drinkMenu {
	overflow-x: hidden;
	background-color: var(--pink);
	font-family: 'Roboto', sans-serif;
	font-size: clamp(0.8rem, 2vw, 2rem);
	font-weight: 800;
	color: var(--dark-item);
	transition: all 250ms;
	height: clamp(1.4rem, 3.2vw, 3.2rem);
}

.drinkMenu:hover {
	cursor: pointer;
	background-color: var(--cream);
	transition: all 250ms;
}

.drinkMenuContent span {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	position: relative;
}
