.marquee {
	overflow-y: hidden;
}

.imageContainer {
	will-change: transform;
	position: relative;
	width: fit-content;
	/* height: clamp(5rem, 22vw, 22rem); */
	height: 22vw;
	max-height: 42rem;

	@media screen and (max-width: 1200px) {
		height: 30vw;
	}

	@media screen and (max-width: 650px) {
		height: 28vw;
	}
}

.imageContainer span {
	position: relative !important;
	width: fit-content !important;
	height: 100% !important;
}

.imageContainer img {
	height: 100% !important;
}

.drinkMenu {
	overflow-x: hidden;
	background-color: var(--pink);
	font-family: 'Roboto', sans-serif;
	font-size: clamp(0.8rem, 2vw, 2rem);
	font-weight: 800;
	color: var(--dark-item);
	transition: all 250ms;
}

.drinkMenu:hover {
	cursor: pointer;
	background-color: var(--cream);
	transition: all 250ms;
}

.drinkMenuContent span {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	position: relative;
}
