.container {
    display: flex;
    place-content: center;
    padding: 1.3rem 1.5rem 1.6rem 1.5rem;
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    background-color: #dfb7a8;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d5a18e' fill-opacity='0.54' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.container p {
    color: var(--base-font);
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin: 0 0 -0.35rem 0;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 1.5rem 2rem 1.85rem 2rem;
    border-radius: 15px;
    border: 5px solid var(--light-green);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='30' height='30' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='100%25' height='100%25' fill='rgba(43, 43, 43,1)'/%3E%3Cpath d='M-10-10h60v60h-60zM2 2v36h36v-36z' fill='rgba(39, 39, 39,1)'/%3E%3Cpath d='M-22-22h90v90h-90zM20 20v16h16v-16zM-20-20v16h16v-16zM20-20v16h16v-16zM-20 20v16h16v-16z' fill='rgba(39, 39, 39,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

.inputContainer input {
    color: var(--base-font);
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    border-radius: 12px;
    border: 5px solid var(--base-font);
    background-color: var(--dark-item);
    transition: border 200ms;
}

.container input:focus {
    outline: none;
    border: 5px solid var(--pink);
    transition: border 200ms;
}

.container button {
    justify-self: flex-start;
}

@media (max-width: 500px) {
    .container p {
        font-size: 0.65rem;
        letter-spacing: 0.08rem;
        margin: 0 0 -0.2rem 0;
    }

    .formContainer form {
        gap: 6px;
        padding: 0.7rem 1.3rem 0.9rem 1.3rem;
        border-radius: 15px;
        border: 5px solid var(--light-green);
    }

    .inputContainer input {
        font-size: 0.8rem;
        padding: 0.2rem 0.35rem 0.2rem 0.35rem;
        border-radius: 10px;
        border: 3px solid var(--base-font);
    }

    .container input:focus {
        border: 3px solid var(--pink);
    }

    .container button:hover {
        border: 3px solid var(--light-green);
    }
}
